:root {
    --dark: #16191c;
    --dark-x: #1e2126;
    --light: #ffffff;
}

body {
    font-family: 'League Spartan', sans-serif;
    font-weight: 300;
    color: var(--light);
}

.bg-dark { background-color: var(--dark) ! important;}
.bg-dark-x { background-color: var(--dark-x);}

